/* Add your styles here */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

#video-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('your_image.jpg');
    background-size: cover;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#welcome-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: larger;
    font-style: inherit;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(209, 88, 209);
    z-index: 1;
}

#popup-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px; 
    overflow: hidden;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#popup-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin-top: 5rem;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#popup-button:hover {
    background-color: #45a049;
}

.popup-img {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Add border radius for the image */
}

#popup-modal {
    /* Existing styles... */
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Add opacity transition */
}

#popup-modal.show {
    opacity: 1;
}